body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

.App {
  color: #228b22;
  text-align: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center; 
}

.text-bold {
  font-weight: 700;
}
